@charset "UTF-8";
@import url(common.css);
@import url(textsettings.css);

/* ---------------------------------------------------------------- *
	ドキュメント全体に関する設定です
 * ---------------------------------------------------------------- */

body {
  /* --- 基本的な前景色（文字色）を設定してください --- */
  color: #333333;
  /* --- 背景を設定してください（短縮プロパティでの設定です）--- */
  background: #FFFFFF;
}

#container {
  /* --- 内容部分の背景を設定してください --- */
  /* Note：内容部分の背景を透明にしたり，透過 GIF を利用したりして
           背景に変化をつけることができます */
  background: transparent;
  /* --- ドキュメント本体の幅を設定してください --- */
  /* Note：百分率指定も可能です */
  width: 1000px;
  /* --- ドキュメント本体の位置を設定してください --- */
  /* Note：「0」のみで左寄せ，「0 auto」でセンタリング */
  margin-top: 30px;
  margin-left: 30px;
}

/* ---------------------------------------------------------------- *
	ヘッダ部分の設定です
 * ---------------------------------------------------------------- */

#header {
  /* --- 背景を設定してください（短縮プロパティでの設定です） --- */
  background: #FFFFFF;
  /* --- マージンを設定してください --- */
  /* Note：上下マージンの折りたたみに注意してください */
  margin-top: 0;
  margin-bottom: 0;
  /* --- パディングを設定してください --- */
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

/* ---------------------------------------------------------------- *
	ナビゲーション部分の設定です
 * ---------------------------------------------------------------- */

#navi {
  /* --- 背景を設定してください（短縮プロパティでの設定です） --- */
  /* background: #FFFFFF url(img/bg.png) repeat-x; */
  /* --- マージンを設定してください --- */
  /* Note：上下マージンの折りたたみに注意してください */
  margin-top: 0;
  margin-bottom: 0;
  /* --- パディングを設定してください --- */
  /* Note：ナビゲーション部分に上下マージンを持つものが含まれる場合，
           上下パディングには正の値を指定してください */
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  /* --- 必要に応じて、ボックスの下線を設定してください（短縮プロパティでの設定です） --- */
  border-bottom: 1px solid #EEEEEE;
}

#navi ul {
  /* --- マージンを設定してください --- */
  margin: 0;
  /* --- パディングを設定してください --- */
  padding: 0;
  /* --- 高さを設定してください --- */
  height: 2.5em;
}

#navi ul li {
  /* --- マージンを設定してください --- */
  margin: 0;
  /* --- パディングを設定してください --- */
  padding: 0;
  /* --- 横並びにさせるためにフロートを指定してください --- */
  float: left;
}

#navi ul li a {
  margin: 0;
  padding: 6px 20px 5px 20px;
  /* --- ナビゲーション１項目あたりのクリッカブル領域をテキスト部分だけでなくボックス単位とするためには display: block;と指定してください --- */
  display: block;
  /* --- ナビゲーション１項目あたりの右側の境界線の線種と色と太さを指定してください（短縮プロパティでの設定です） --- */
  border-right: 1px solid #CCCCCC;
  /* --- ナビゲーション１項目あたりの下側の境界線の線種と色と太さを指定してください（短縮プロパティでの設定です） --- */
  border-bottom: 2px solid #eeeeee;
  /* --- ナビゲーション１項目あたりの背景画像とリピート方向を指定してください（短縮プロパティでの設定です） --- */
  /* background: url(img/bg.png) repeat-x; */
  /* --- ナビゲーション１項目あたりのフォントの太さを指定してください --- */
  font-weight: bold;
}

#navi a:hover {
  /* --- マウスオーバーしたときの下側の境界線の線種と色と太さを指定してください（短縮プロパティでの設定です） --- */
  border-bottom: 2px solid #eeeeee;
  /* --- マウスオーバーしたときの背景色と、横並びリストのリストマーカ画像を設定してください（短縮プロパティでの設定です） --- */
  /* Note：16×16 ピクセル以下のものを使用してください。背景色をあわせて指定している場合は、透過処理されている画像である必要があります */
  /* background: #AAAAAA url(img/arrow.gif) no-repeat; */
  /background: #99CCFF;
  /* 通常のリンクテキストでテキストに下線がついてしまう設定になっているので、ナビゲーションのテキスト下線は不要なためここで指定して上書きしてください */
  text-decoration: none;
}

/* ---------------------------------------------------------------- *
	コンテンツコンテナの設定です
 * ---------------------------------------------------------------- */

#main {
  /* --- 背景を設定してください（短縮プロパティでの設定です）--- */
  /*background: transparent;*/
  /* --- マージンを設定してください --- */
  /* Note：この要素のマージン・パディングは，その有無と値によって
           複雑な折りたたみを生じます。複雑なカスタマイズをしない
           限り，以下を「すべて 0」にしておくことをおすすめします。 */
  margin-top: 0;
  margin-bottom: 0;
  /* --- パディングを設定してください --- */
  padding-top: 17px;
  padding-bottom: 0;
}

/* ---------------------------------------------------------------- *
	コンテンツ部分の設定です
 * ---------------------------------------------------------------- */

.contents {
  /* --- 背景を設定してください（短縮プロパティでの設定です）--- */
  /*background: #FFFFFF;*/
  /* --- マージンを設定してください --- */
  /* Note：上下マージンの折りたたみに注意してください */
  margin-top: 0;
  /*margin-bottom: 20px;*/
  /* --- パディングを設定してください --- */
  /* Note：コンテンツ部分に上下マージンを持つものが含まれる場合，
           上下パディングには正の値を指定してください */
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  /* --- 枠線の太さ・線種・色を設定してください（短縮プロパティでの設定です） --- */
  /*border: 15px solid #EEEEEE;*/
}

/* ---------------------------------------------------------------- *
	コンテンツ画像の設定です
 * ---------------------------------------------------------------- */

.contents img.fig {
  /* --- 画像をどちらに回り込ませるか設定してください --- */
  /* Note：left（左）または right（右）を指定します；この指定によって
           以降のマージンの指定方法が異なります */
  float: left;
  /* --- 画像のマージンを設定してください --- */
  /* Note：前記の回り込みについて「left」のとき→左マージン 0，
           「right」のとき→右マージン 0 としてください */
  margin-top: 0;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-left: 0;
}

/* ---------------------------------------------------------------- *
	画像のみのボックスを作る場合の設定です
 * ---------------------------------------------------------------- */

.imgbox {
  /* --- 背景を設定してください（短縮プロパティでの設定です）--- */
  background: #FFFFFF;
  /* --- マージンを設定してください --- */
  /* Note：上下マージンの折りたたみに注意してください */
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

/* ---------------------------------------------------------------- *
	サムネイルリストの設定です
 * ---------------------------------------------------------------- */

ul#thumbslist {
  /* ★--- マージンを設定してください --- */
  margin: 0;
  /* ★--- パディングを設定してください --- */
  padding: 0;
}

ul#thumbslist li {
  /* --- 背景を設定してください（短縮プロパティでの設定です） --- */
  background: #FFFFFF;
  /* Note:サムネイルのリストアイテム（サムネイルとキャプションを囲むボックス）に関する設定です。 */
  /* ★--- マージンを設定してください --- */
  /* Note:float:left;をすでに設定しているため、左方向のマージンは0にし、右方向のマージンでリスト同士の間隔を調整してください */
  margin-right: 10px;
  margin-bottom: 15px;
  /* ★--- パディングを設定してください --- */
  /* Note:このオブジェクトはフロートさせるため、0と設定し、余白はさらに内側のボックスで設定いただくことをおすすめします */
  padding: 0;
  /* ★--- ボックスの幅と高さを設定してください --- */
  /* Note：ボックスからはみ出す分は出力されません；内容の量にに対して
           余裕をもって設定してください */
  width: 134px;
  height: 150px;
  /* ★--- 枠線の幅・線種・色を設定してください（短縮プロパティでの設定です）--- */
  border: 1px solid #EEEEEE;
/* ★Note:（このボックスの幅[width]＋左右線幅[border]＋右マージン[margin]）x １列のボックスの数　で算出される寸法が、#mainの横幅以内に収まるように設計してください */
}

/* ---------------------------------------------------------------- *
	サムネイル画像についての設定です
 * ---------------------------------------------------------------- */
div.thumbnail {
  /* --- 背景を設定してください --- */
  /* Note：パディングと組み合わせると，縁取りなどの効果が期待
           できます */
  background: transparent;
  /* --- 上下マージンを設定してください --- */
  margin-top: 7px;
  margin-bottom: 7px;
  /* --- パディングを設定してください --- */
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

/* ---------------------------------------------------------------- *
	説明キャプションについての設定です
 * ---------------------------------------------------------------- */

ul#thumbslist li p {
  /* マージンを設定してください */
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 7px;
  margin-left: 10px;
  /* テキストの行の高さを設定してください */
  line-height: 1.5;
}

#linkbox{
  background-image: url(../img/board.png);
  height:450px;
  width:1000px;
}

#schedule{
  /* background-image: url(img/tatami.png); */
}

#keiko_imgbox{
  background-image: url(img/board.png);
}
/* ---------------------------------------------------------------- *
	フッタ部分の設定です
 * ---------------------------------------------------------------- */

#footer {
  /* --- 背景を設定してください（短縮プロパティでの設定です）--- */
  background: #FFFFFF url(img/foot.gif) no-repeat right top;
  /* --- マージンを設定してください --- */
  /* Note：上マージンは段組コンテナの下マージンとの折りたたみが
           生じます */
  margin-top: 0;
  margin-bottom: 0;
  /* --- パディングを設定してください --- */
  /* Note：上下マージンを持つものが含まれる場合，上下パディングには
           正の値を指定してください */
  padding-top: 0.6em;
  padding-right: 0;
  padding-bottom: 1em;
  padding-left: 1em;
  /* --- フッタ上の罫線の太さ・線種・色を設定してください（短縮プロパティでの設定です） --- */
  border-top: 1px dotted #3EBAEE;
}

#footer ul {
    margin-bottom: 4px;
    padding: 0;
  /* --- フッタメニュー左端の罫線の太さ・線種・色を設定してください（短縮プロパティでの設定です） --- */
    border-left: 1px solid #CCCCCC;
}

#footer ul li {
  margin: 0;
  padding: 0 5px;
  /* --- フッタメニュー右側の区切り線の太さ・線種・色を設定してください（短縮プロパティでの設定です） --- */
  border-right: 1px solid #CCCCCC;
  /* --- 横並びリストのリストマーカ画像を設定してください --- */
  /* Note：16×16 ピクセル以下のものを使用してください */
  background-image: none;
}

.fee_container
{
 clear : both;
 width: 1000px;
}

.fee_caption
{
  margin-left: 20px;
  width: 150px;
  float: left;
}

.fee_value
{
}

.schedule_container
{
  width: 1200px;
}

.day {
  margin-left: 20px;
  width: 100px;
  float: left;
}

.time {
  width: 250px;
  float: left;
}

.date {
  width: 300px;
  float: left;
}

.place {
}

.float_clearance {
  width: 1000px;
  clear : both;
}

hr.topic_boundary {
  width: 90%;
}

img.logo {
  width:262px;
  height:60px;
}

img.main_picture {
  width:1000px;
  height:450px;
}

img.explain {
  border-width:1px;
  border-color:#a0a0a0;
  border-style:solid;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

div.space {
  height:50px;
}

div.space_small {
  height:20px;
}
