@charset "UTF-8";

/* --- 画像を回り込ませなくなったため、h2 見出しの左マージンの指定は必要ありません --- */
#main {
/* --- #main についていたパディングを0に上書き --- */
  padding: 0;
}

.imgbox {
/* --- 下に配置するナビゲーションとの境界線をつくり引き締めるために線の太さ、線種、色を指定 --- */
  border-bottom: 3px solid #ddd;
}

#footer {
/* --- そのままの設定だとフッタとメニューの距離が近すぎるので上マージンを指定 --- */
  margin-top: 30px;
/* --- テキストタイプのテンプレートとは異なり、ガイドラインを画像の脇に揃えたほうが見た目が良いため、左マージンを0に指定 --- */
  padding-left: 0;
}